.also-like-all {
  margin-left: 60px;
  margin-bottom: 50px;
}

.alsolike-flex {
  width: 100%;
  display: flex;
  gap: 30px;
  margin-left: 30px;
}

.alsolike-flex img {
  width: 330px;
  height: 400px;
}
.alsolike h2 {
  margin: 0;
  font-size: 30px;
  color: #000;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 40px;
  text-align: left;
  margin-top: 50px;
}
.item-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; /* Adjust the gap between items as needed */
  margin: 20px 10px; /* Adjust the margin as needed */
  margin-left: 70px;
}

.image-alsolike2 {
  width: 330px;
  height: 400px; /* Specify the height in px */
  margin-left: -90px;
}

.alsolike {
  max-width: 250px;
  height: 40px;
  text-align: left;
  position: relative;
  left: -90px;
}

.alsolike h1 {
  font-size: 16px;
  margin-bottom: -5px;
  line-height: 17px;
  color: #000;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  width: fit-content;
}

.alsolike p {
  font-size: 12px;
  color: #656565;
  margin-top: 10px;
  letter-spacing: 0.1rem;
  line-height: 30px;
  text-align: left;
}

.alsolike-h2 {
  margin: 0;
  font-size: 30px;
  color: #000;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 40px;
  text-align: left;
  margin-top: 50px;
  position: relative;
  left: 0px;
}

.alsolike-viewall button {
  padding: 12px 30px;
  color: white;
  background-color: #a12b35;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 40px;
  transition: 0.3s ease;
}

.alsolike-viewall button:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.item-grid-1 :hover {
  cursor: pointer;
}

@media (max-width: 450px) {
  .item-grid-container {
    grid-template-columns: repeat(2, 1fr);
    margin-left: -60px !important; /* Adjust margin for smaller screens */
  }

  .image-alsolike2 {
    width: 80%; /* Make images responsive */
    height: auto;
    margin-left: 0; /* Reset margin for smaller screens */
  }
  .image-alsolike2:hover {
    cursor: pointer !important;
  }

  .alsolike {
    max-width: 100%;
    height: auto;
    text-align: center; /* Center text for smaller screens */
  }

  .alsolike h1,
  .alsolike p {
    width: 100%;
    text-align: center; /* Center text for smaller screens */
    margin-left: 80px;
  }

  .alsolike-h2 {
    text-align: center; /* Center heading for smaller screens */
    width: 300px;
    margin-left: -50px;
  }
}
@media (min-width: 601px) and (max-width: 950px) {
  .image-alsolike2 {
    width: 100%; /* Make images responsive */
    height: auto; /* Make images responsive */
    margin-left: -150px; /* Reset margin for medium screens */
  }

  .alsolike {
    max-width: 100%;
    height: auto;
    text-align: center; /* Center text for medium screens */
  }

  .alsolike h1,
  .alsolike p {
    width: 100%;
    text-align: center; /* Center text for medium screens */
    margin-left: 0; /* Reset margin for medium screens */
  }

  .alsolike-h2 {
    text-align: center; /* Center heading for medium screens */
    margin-left: -90px; /* Reset margin for medium screens */
  }
}
