/* checkout.css */

.checkout-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f6f0e6;
  border-radius: 8px;
}
.checkout-button {
  padding: 12px 20px;
  color: #282929;
  background-color: #ede4d4;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 40px;
  transition: 0.3s ease;
}

.checkout-button:hover {
  cursor: pointer;
  transform: scale(1.2);
  background-color: #282929;
  color: #ede4d4;
  border: #ede4d4 2px solid;
}
.checkout-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.checkout-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.item-details {
  flex-grow: 1;
}

.checkout-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.checkout-container p {
  margin: 5px 0;
}
