.bigupsmyg {
  width: 100;
  height: 160px;
}

.collection-title-big-one {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 40px;
}

.collection-p-big-one {
  font-family: "DM sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 18px;
  margin-top: 20px;
}

.item-grid-container131 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; /* Adjust the gap between items as needed */
  margin: 20px 10px; /* Adjust the margin as needed */
  margin-left: 70px;
}

.image-priceand131 {
  width: 250px;
  height: 260px; /* Specify the height in px */
  margin-left: -90px;
  transition: 0.3s ease;
}

.image-priceand131:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.priceand131 {
  max-width: 250px;
  height: 40px;
  text-align: left;
}

.priceand131 h1 {
  font-size: 16px;
  margin-bottom: -5px;
  line-height: 17px;
  color: #000;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  width: fit-content;
}

.priceand131 p {
  font-size: 12px;
  color: #656565;
  margin-top: 10px;
  letter-spacing: 0.1rem;
  line-height: 30px;
  text-align: left;
}

.priceand-h2131 {
  margin: 0;
  font-size: 30px;
  color: #000;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-align: left;
  margin-top: 50px;
  margin-left: 45%;
}

.priceand1-viewall31 button {
  padding: 12px 30px;
  color: white;
  background-color: #a12b35;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 40px;
  transition: 0.3s ease;
}

.priceand1-viewall31 button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.pagination31 {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination31 button {
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.pagination31 button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.priceand31-p21 {
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 30px;
  color: #827b7b;
  position: relative;
  left: 83.5%;
  width: 200px;
}

@media (max-width: 450px) {
  .item-grid-container131 {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 10px; /* Adjust margin for smaller screens */
  }

  .image-priceand131 {
    width: 100%; /* Make images responsive */
    height: auto;
    margin-left: 0; /* Reset margin for smaller screens */
  }

  .priceand131 {
    max-width: 100%;
    height: auto;
    text-align: center; /* Center text for smaller screens */
  }

  .priceand131 h1,
  .priceand131 p {
    width: 100%;
    text-align: center; /* Center text for smaller screens */
  }

  .priceand-h2131 {
    text-align: center; /* Center heading for smaller screens */
    margin-left: 0%;
  }
  .priceand-p2131 {
    margin-right: 30px;
  }
}

@media (max-width: 900px) and (min-width: 600px) {
  .item-grid-container131 {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 10px;
  }

  .image-priceand131 {
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  .priceand131 {
    max-width: 100%;
    text-align: center;
    height: auto;
    margin-left: 0;
  }

  .priceand131 h1,
  .priceand131 p {
    width: 100%;
    text-align: center;
  }

  .priceand-h2131 {
    text-align: center;
    margin-left: 0;
  }

  .priceand31-p21 {
    text-align: center;
    left: 0;
    margin-right: 0;
  }
}

@media (min-width: 1450px) and (max-width: 1900px) {
  .item-grid-container131 {
    grid-template-columns: repeat(4, 1fr);
    gap: 15px; /* Adjust the gap as needed */
    margin: 20px 50px; /* Adjust the margin as needed */
  }

  .image-priceand131 {
    width: 300px;
    height: 310px;
    margin-left: 0;
  }

  .priceand131 {
    max-width: 300px;
    height: auto; /* Remove fixed height */
    margin-left: 80px;
  }

  .priceand131 h1 {
    font-size: 18px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0; /* Add some margin for spacing */
  }

  .priceand131 p {
    font-size: 14px;
    line-height: 1.2;
    margin-top: 5px; /* Adjust margin as needed */
  }

  .priceand-h2131 {
    font-size: 36px;
    margin-bottom: 50px;
    margin-left: 45%;
  }

  .priceand31-p21 {
    font-size: 16px;
    position: relative;
    left: 83.5%;
    width: 220px;
  }

  .pagination31 button {
    width: 90px;
  }
}
