.footer-container {
  width: 100%;
  height: 500px;
  background-color: rgba(26, 23, 23, 0.985);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  flex-wrap: nowrap;
}

.footer-content {
  text-align: center;
  margin-top: -15%;
  height: 250px;
  margin-left: -250px;
}

.footer-title {
  font-size: 44px;
  margin-bottom: 10px;
  color: white;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
}

.footer-description {
  font-size: 14px;
  margin-bottom: 20px;
  color: white;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
}

.footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 0px;
  outline: none;
  background-color: #000000;
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

.input-error {
  border: 1px solid #ff0000; /* Red border for invalid input */
}

.footer-button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 9px 15px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
  position: relative;
  left: -50px;

  /* Border on the right side */
  border-right: 1px solid #ffffff;
}

.footer-icon {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-left: 5px;
}
.footer-nav {
  text-align: left;
  position: relative;
  left: -400px;
  top: 20px;
}
.footer-nav h2 {
  color: white;
  font-family: DM sans, sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
}
.footer-nav li,
a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: DM sans, sans-serif;
  font-size: 18px;
  margin-bottom: 40px;
  margin-left: -20px;
}
.footer-menu {
  margin-top: 20px !important;
}

@media (max-width: 400px) {
  .footer-container {
    height: auto;
    padding: 10px;
    margin-left: 0px;
    margin-top: 0px;
  }

  .footer-title {
    font-size: 32px;
    margin-top: 50px;
  }

  .footer-description {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .footer-input {
    width: 100%;
    max-width: 250px;
  }

  .footer-button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 9px 15px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
    position: relative;
    left: -50px;

    /* Border on the right side */
    border-right: 1px solid #ffffff;
  }
  .footer-content {
    height: 800px;
    font-size: 12px;
    width: 250px;
    margin-left: -200px;
    margin-top: 300px;
  }
  .footer-nav {
    position: relative;
    left: 50px;
    top: -300px;
    margin-bottom: 90px;
  }
  .footer-menu {
    position: relative;
    left: 10px;
  }
  .footer-menu li {
    width: 200px;
  }
}
@media (max-width: 900px) and (min-width: 600px) {
  .footer-container {
    flex-direction: column;
    height: auto;
    padding: 10px;
    margin-top: 30px;
    flex-wrap: wrap;
  }

  .footer-title {
    font-size: 36px;
  }

  .footer-description {
    font-size: 12px;
    margin-bottom: 15px;
  }

  .footer-input {
    width: 100%;
    max-width: 250px;
  }

  .footer-button {
    padding: 9px 15px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
    position: relative;
    left: -20px;
  }

  .footer-content {
    height: auto;
    margin-left: -200px;
    margin-top: 20px;
  }

  .footer-nav {
    position: relative;
    left: 0;
    top: 0;
    margin-top: 20px;
  }

  .footer-menu {
    text-align: center;
    display: flex;
    flex-direction: row !important;
    margin-left: -40px;
  }
  .footer-menu ul {
    display: flex;
    width: 100%;
  }
  .footer-menu li {
    margin-left: 50px !important;
    text-align: left;
  }
  .footer-menu a {
    width: 150px !important;
  }

  .footer-menu li:nth-child(1) {
    margin-left: 0px !important;
  }

  .footer-menu li {
    margin-left: 0;
    margin-bottom: 15px;
  }
  .footer-nav h2 {
    margin-left: -20px;
  }
}
@media (min-width: 1450px) and (max-width: 1900px) {
  .footer-container {
    height: 600px;
    padding: 30px;
    margin-top: 80px;
  }

  .footer-content {
    height: 350px;
    margin-top: -10%;
    margin-left: -200px;
  }

  .footer-title {
    font-size: 50px;
  }

  .footer-description {
    font-size: 18px;
  }

  .footer-input {
    width: 400px;
  }

  .footer-button {
    padding: 12px 20px;
  }

  .footer-nav {
    left: -300px;
    top: 30px;
  }

  .footer-nav h2 {
    font-size: 28px;
  }

  .footer-nav li,
  .footer-nav a {
    font-size: 20px;
  }
}
@media (max-width: 980px) and (min-width: 601px) {
  .footer-container {
    height: auto !important;
  }
}
