@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.header-logo {
  width: 165px;
  height: 40px;
}

.header-phone,
.header-location {
  width: 25px;
  height: 30px;
}

.icon-box {
  background: #a12b35;
  border-radius: 5px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-box {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.heading {
  color: rgba(18, 18, 18, 0.7);
  line-height: 1.2em;
  margin-left: 10px;
}

.heading p {
  font-size: 12px;
  text-align: left;
}

.heading h4 {
  font-size: 18px;
  text-align: left;
  margin-bottom: -10px;
}

.big-box-left {
  display: flex;
  align-items: center;
}

.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  position: relative;
}

.logo-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.big-box-left {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
  position: relative;
}

.search-container {
  position: absolute;
  left: 20px;
  display: flex;
  align-items: center;
}

.search-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.search-bar {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
  width: 0;
  opacity: 0;
  visibility: hidden;
}

.search-bar:focus {
  outline: none;
}

.search-container img:hover + .search-bar,
.search-bar:focus {
  width: 200px;
  opacity: 1;
  visibility: visible;
}

.nav-menu {
  display: flex;
  gap: 50px;
  font-family: "DM Sans", sans-serif;
}

.nav-item {
  font-size: 16px;
  cursor: pointer;
}

/* Sliding Info Bar Styles */
.info-bar {
  width: auto; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
  background: rgb(150, 126, 108);
  color: white;
  text-align: center;
  padding: 10px 0;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.info-bar span {
  display: inline-block; /* Ensure spans are displayed inline */
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}

/* Animation for the first phrase */
.info-bar span:nth-child(1) {
  animation: slide1 12s linear infinite 0s; /* Delay set to 0s */
}

/* Animation for the second phrase */
.info-bar span:nth-child(2) {
  animation: slide2 6s linear infinite 6s; /* Delay set to 3s */
}

/* Animation for the third phrase */
.info-bar span:nth-child(3) {
  animation: slide3 0 linear infinite 6s; /* Delay set to 6s */
}

@keyframes slide1 {
  0% {
    transform: translateX(-1000%);
    opacity: 0.5;
  }
20%,50%{
  transform: translateX(0%);
  opacity: 1;
} 
50%,100%{
  transform: translateX(-1000%);
  opacity: 0;
}



}
@keyframes slide2 {
  0%, 40% {
    transform: translateX(-1000%);
    opacity: 0;
  }
  50%, 90% {
    transform: translateX(0%);
    opacity: 1;
  }
  100%{
    transform: translateX(-1000%);
    opacity:0;
  }
}

/* @keyframes slide2 {
  0% {
    transform: translate(-300%, -50%);
    opacity: 0;
  }
  10%,
  90% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: translate(0%, -50%);
    opacity: 0;
  }
}

@keyframes slide3 {
  0% {
    transform: translate(-400%, -50%);
    opacity: 0;
  }
  10%,
  90% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: translate(0%, -50%);
    opacity: 0;
  }
} */


@media screen and (max-width:600px) {
  .icon-box {
    background: #a12b35;
    border-radius: 5px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo-container {
    position: static;
    left: 20%;
    transform: translateX(0%);
  }
  .header-logo {
    width: 165px;
    height: 40px;
    margin-left: 0%;
  }
  
  .big-box-left {
    display: flex;
    align-items: center;
    transform: translateX(-5%);
  }
  .big-box-left {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  .header-top {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    position: relative;
  }
  .nav-menu {
    display: flex;
    gap: 50px;
    font-family: "DM Sans", sans-serif;
  }
  
  .nav-item {
    font-size: 16px;
    cursor: pointer;
  }

  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    position: relative;
  }
  .search-container{
    display: none;
  }

  .info-bar {
    width: auto; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    background: rgb(150, 126, 108);
    color: white;
    text-align: center;
    padding: 10px 0;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
  
  .info-bar span {
    display: inline-block; /* Ensure spans are displayed inline */
    opacity: 0;
    position: absolute;
    left: 35%;
    top: 20%;
    transform: translate(0%, -50%);
  }
  .showbm{
    display: block;
    height: auto;
  }

  .mobile-container{
    display: block;
    position: absolute;
    z-index: 9999;
    
  }
.top-nav{
  z-index: 9999;
}
.nav-menu{
  display: none;
}

#real-one{
  position: absolute;
  top: 20%;
}
.fa{
  display: block!important;
  position: absolute;
  top: -650%!important;
  left: 10%;

}
  
}
