.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  text-align: center;
  background-color: #f8f9fa;
  color: #343a40;
  padding: 20px;
}

.not-found-title {
  font-size: 4em;
  margin-bottom: 20px;
  font-weight: bold;
  color: #dc3545;
}

.not-found-text {
  font-size: 1.25em;
  margin-bottom: 10px;
}

.not-found-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #a12b35;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.not-found-link:hover {
  background-color: #0056b3;
}
