.image-left-1 img {
  width: 800px;
  height: 800px;
}
.single-container-123 {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  position: relative;
  left: 0px;
}
.third {
  display: none;
}
.right-everything .first h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16px;
  font-style: italic;
  letter-spacing: 0.13 rem;
  font-family: "DM Sans", sans-serif;
  color: #f6f0e6;
  position: relative;
  left: -30px;
}

.right-everything .first h1 {
  margin-top: 5px;
  line-height: 40px;
  margin-bottom: -10px;
  font-size: 38px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  color: #f6f0e6;
  width: 390px;
  height: 80px;
  text-align: left;
  position: relative;
  left: 40px;
}
.second {
  margin-left: 40px;
}
.second h3 {
  font-size: 22px;
  color: #ede4d4;
  letter-spacing: 0.13rem;
  width: 135px;
  height: 33px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-bottom: -5px;
}
.second p {
  font-style: initial;
  color: #927f6e;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 19px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  width: 350px;
  height: 32px;
  text-align: left;
  margin-bottom: -5px;
}
.flex-third {
  display: flex;
}
.flex-third :nth-child(1) {
  margin-right: 20px;
}
.third {
  margin-left: 40px;
}
.flex-third p {
  font-size: 14px;
  text-transform: none;
  letter-spacing: 0.06rem;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: rgba(18, 18, 18, 0.8);
}
.flex-third-2 {
  display: flex;
  gap: 30px;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 5px;
}

.metallic {
  background-color: gray; /* Example color, change as needed */
}

.matte {
  background-color: black; /* Example color, change as needed */
}

.circle.selected {
  border-color: red;
}
.fourth {
  margin-left: 45px;
  margin-top: 20px;
  position: relative;
  left: -140px;
}

.fourth span {
  color: #408a7e;
  font-size: 17px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  margin-left: 10px;
  letter-spacing: 0.1rem;
  border: 0.1rem solid transparent;
  border-radius: 0;
  margin: 0px 0px 30px;
  padding: 9px 30px 11px;
}

.fourth a {
  color: #408a7e; /* Green text color */
  background-color: #fff; /* White background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
  border: 0.1rem solid #408a7e; /* Green border */
  border-radius: 0px; /* Optional: Rounded corners */
  padding: 9px 30px 11px; /* Padding to match the span */
  text-decoration: none; /* Remove underline */
  display: inline-block;
  width: 290px;
  height: 20px;
  transition: 0.3s ease smooth;
}

.fourth a:nth-child(1) {
  margin-bottom: 0px;
}

.fourth a:hover {
  background-color: #f0f0f0; /* Optional: Change background on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Optional: Change shadow on hover */
  border: 0.2rem solid #408a7e;
}
.fourth-image {
  width: 20px !important;
  height: 20px !important;
  color: green;
  position: relative;
  top: 4px;
  left: -10px;
}
.customise-fourth {
  color: #a12b35 !important;
  border: 0.1rem solid #a12b35 !important;
  margin-top: 15px;
  margin-bottom: 15px;
}
.customise-fourth:hover {
  background-color: #f0f0f0; /* Optional: Change background on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Optional: Change shadow on hover */
  border: 0.2rem solid #a12b35 !important;
}
.buyit-fourth {
  background-color: #ede4d4;
  color: #292435 !important;
  border: 0.1rem solid #292435 !important;
}
.buyit-fourth:hover {
  background-color: #292435; /* Optional: Change background on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Optional: Change shadow on hover */
  border: 2px solid #ede4d4 !important;
  color: #ede4d4 !important;
}
.quantity {
  font-size: 13px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #f6f0e6;
  position: relative;
  right: 230px;
}
.fifth span img {
  width: 20px;
  height: 20px;
  position: relative;
  top: 10px;
}
.fifth span {
  display: flex;
}
.fifth p {
  font-style: initial;
  color: #927f6e;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 19px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.second-p-here {
  margin-top: 5px;
  position: relative;
  left: -230px;
}
.fifth {
  position: relative;
  left: 0px;
  top: 20px;
}
.sixth {
  width: auto;
  position: relative;
  left: -120px;
  margin-top: 40px;
}
.seventh p {
  font-size: 16px;
  line-height: 19px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #f6f0e6;

  width: 350px;
  height: 300px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: left;
  line-height: 1.6rem;
  margin-left: 40px;
}
.seventh p::selection {
  background-color: rgba(18, 18, 18, 0.2);
}
.extra-images {
  margin-right: -100px;
}
.extra-images img {
  width: 350px;
  height: 350px;
  margin-right: 90px;
}
.extra-images :nth-child(1) {
  position: relative;
  left: -10px;
}

.accordion {
  width: 350px;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.accordion-item {
  border-top: 1px solid #ddd;
}

.accordion-title {
  background: #ede4d4;
  color: #292435;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-title h3 {
  margin: 0;
}

.accordion-content {
  background: #fff;
  padding: 10px;
}

.accordion-content p {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #121212bf;

  text-align: left;
  line-height: 1.6rem;
}

.accordion-title span {
  font-size: 20px;
}
.flex-option {
  display: flex;
  margin-left: 20px;
}
.flex-option h3 {
  min-height: 1.6rem;
  max-width: 400px;
  font-size: 16px;
  word-break: break-word;
  font-family: Monserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #292435;
  margin-left: 0px;
  width: auto;
}
.flex-option h3:nth-child(1) {
  margin-left: -20px;
  color: blue;
}
.flex-option img {
  width: 20px;
  height: 20px;
}
@media (max-width: 1550px) {
  .single-container-123 {
    left: 10% !important;
    max-width: 1400px;
  }
  .buyit-fourth {
    position: relative;
    left: 18.5%;
  }
  .customise-fourth {
    position: relative;
    left: 2% !important;
  }
  .fourth a {
    width: 325px;
  }
  .whatsapp-fourth {
    position: relative;
    left: 5.5%;
  }
  .quantity {
    left: -190px;
  }
  .second-p-here {
    left: -170px;
  }
}
@media (min-width: 1750px) {
  .fourth {
    display: flex;
    flex-direction: column !important;
    margin-left: 200px;
  }
  .buyit-fourth {
    width: 352px;
    margin-left: -20px;
    top: 20% !important;
    left: 0%;
  }
  .quantity {
    margin-left: 135px;
  }
  .second-p-here {
    margin-left: 150px;
  }
  .accordion {
    margin-left: 150px;
  }
  .single-container-123 {
    left: 20%;
  }
}
.customise-fourth {
  margin-bottom: 50px !important;
}
/* .additional-div {
  display: none;
} */
.fifth span {
  margin-left: 40px;
}
.single-container-123 {
  overflow: hidden;
  left: 20%;
}

@media (max-width: 450px) {
  .additional-div3 {
    display: block; /* Displayed only on screens with maximum width 350px */
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px;
    margin-top: 30px;
  }
  .image-left-1 {
    display: none;
  }
  .fourth {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
  }
  .customise-fourth {
    position: relative;
    left: -80px !important;
    padding-right: 20px !important;
    justify-content: center !important;
  }
  .buyit-fourth {
    position: relative;
    left: -120px;
    padding-right: 40px !important;
    width: 310px !important;
    top: 25px !important;
  }

  .fourth button {
    margin-left: -40px;
  }
  .fourth a {
    padding: 0px;
    margin-left: -60px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .whatsapp-fourth {
  }
  .quantity {
    margin-left: 220px;
  }
  .fifth {
    margin-left: 40px;
    margin-top: 20px;
  }
  .second-p-here {
    margin-left: 200px;
    width: 50%;
  }
  .fifth span {
    margin-left: -30px;
  }
  .sixth {
    margin-left: 150px;
    max-width: 100%;
  }
  .accordion {
    width: 300px;
    margin-left: -10px;
  }
  .seventh p {
    width: 58%;
    margin-left: 40px;
    margin-bottom: 50px;
    margin-top: 450px;
  }
  .additional-div .slick-prev {
    display: none !important;
  }
  .additional-div .slick-next {
    display: none !important;
  }
  .additional-div {
    display: block !important;
  }
  .buyit-fourth {
    width: 300px;
    margin-left: 100px !important;
    right: -52% !important;
  }
  .right-everything {
    margin-left: -40px;
  }
  .additional-div1 {
    position: relative;
    top: 1% !important;
    left: 0px;
    margin-bottom: 20px !important;
  }
}
.customize-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.customize-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.additional-div1 {
  display: block;
  background-color: #f0f0f0;
  padding: 10px;

  width: 100%;
}
.additional-div1 {
  width: 300px !important;
  height: 300px !important;
  margin-top: 750px;
  position: static;
  top: 13%;
  right: 10%;
}
.additional-div1 .slick-prev {
  display: none !important;
}
.additional-div1 .slick-next {
  display: none !important;
}
.additional-div1 img {
  width: 300px;
}
.customise-fourth {
  position: relative !important;
  left: -40px;
}
.buyit-fourth {
  position: relative;
  margin-right: 200px;
  margin-top: 90px;
}

@media (min-width: 601px) and (max-width: 950px) {
  .additional-div1 {
    display: block;
    background-color: #f0f0f0;
    padding: 10px;

    width: 100%;
  }
  .image-left-1 {
    display: none;
  }
  .fourth {
    margin-left: 200px;
  }
  .fourth button {
    margin-left: -40px;
  }
  .fourth a {
    padding: 0px;
    margin-left: -40px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .whatsapp-fourth {
  }
  .quantity {
    margin-left: 220px;
  }
  .fifth {
    margin-left: 40px;
  }
  .second-p-here {
    margin-left: 200px;
    width: 50%;
  }
  .fifth span {
    margin-left: -30px;
  }
  .sixth {
    margin-left: 150px;
    max-width: 100%;
  }
  .accordion {
    width: 300px;
    margin-left: -10px;
  }
  .seventh p {
    width: 50%;
    height: auto;
    margin-left: 20px;
    margin-bottom: 0px;
    position: absolute;
    right: 5%;
    top: 61%;
  }
  .additional-div1 .slick-prev {
    display: none !important;
  }
  .additional-div1 .slick-next {
    display: none !important;
  }
}
.customize-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.customize-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.additional-div1 {
  width: 300px !important;
  height: 300px !important;
  position: absolute;
  top: 3%;
  right: 10%;
}
.additional-div1 img {
  width: 300px;
}
.customise-fourth {
  margin-left: 20px !important;
}
.buyit-fourth {
  position: absolute;
  right: -25%;
  top: 22%;
  padding-top: 12px;
  padding-bottom: 12px;
}
